.fotos-jogos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}

.h1jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: #2E3A59;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #4CAF50;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 260px; /* Espaço acima do conteúdo */
  padding-bottom: 260px; /* Espaço abaixo do conteúdo */
}


.game-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.game-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  flex-direction: row;
}
.game-card:hover {
  transform: scale(1.05);
}
.game-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 25%;
}
.game-card h3, .game-card p {
  margin: 5px 0;
}
.text-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .game-card {
      flex-direction: column;
      text-align: center;
      align-items: center;
  }
  .game-card img {
      width: 100px;
      height: 100px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom,transparent 55%,black),url(../media/imagens/backgrounds/fundo-jogo.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100% - 290px);
}
.content h2 {
	-webkit-text-fill-color: #FFEDCC;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #FFEDCC;
	font-family: 'Montserrat', sans-serif;
	font-size: 130px;
}
.content h2 span {
	-webkit-text-fill-color: transparent;
}
@media (max-width:991px){
    .content h2 {
        font-size: 70px;
    }
}

.jogos {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    margin: 50px auto;
    border-radius: 25px;
  background: #606C38;
}

.separador {
  background-color: #283618;
  margin: 0;
  padding: auto;
  padding-top: 40px;
}