@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

:root{
    --verde: #5C683A;
    --beige: #E7BD80;
    --azul: #3F88C5;
    --laranja: #E94F37;
    --esmeralda: #59CD90;

    --font1: "Playwrite US Modern";
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--beige);
}

header{
    color: white;
}

section#logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 15vh;
    background-color: var(--verde);
}

section#logo > img{
    width: 15vh;
}

section#logo > h1{
    text-align: center;
    font-size: 0.9em;
    max-width: 200px;
    text-wrap: balance;
    font-family: var(--font1);
}

section#menu > nav > a{
    display: none;
}