@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/*Variáveis*/

:root{
    --verde: #5C683A;
    --beige: #E7BD80;
    --azul: #3F88C5;
    --laranja: #E94F37;
    --esmeralda: #59CD90;

    --font1: "Wittgenstein", serif;
    --font2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Fim variáveis*/



/*Configurações de Gerais*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--beige);
}

/*Fim variáveis*/



/*Configurações de título*/

header{
    color: white;
}

section#titulo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 21vh;
    background-color: var(--verde);

    border: 1px solid rgba(0, 0, 0, 0.144);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.322);
}

section#titulo > span{
    margin-top: 10px;
    align-self: flex-end;
    font-size: 1.6em;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.432);
    color: rgb(255, 255, 255);
}

section#titulo > img{
    width: 12vh;
}

section#titulo > h1{
    text-align: center;
    font-size: 1.3em;
    text-wrap: balance;
    font-family: var(--font1);

    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.363);
    margin-bottom: 13px;
}

/*Fim configurações de título*/


main{
    display: flex;
    align-items: center;
    flex-flow: column wrap;

    background-color: white;
    width: 95vw;
    margin: 20px 0px;
    padding: 15px;

    margin: auto;
    margin-top: 20px;
    font-family: var(--font2);
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;

    border-radius:10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.404);
}

section#introducao{
    background-color: var(--esmeralda);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);

    margin-bottom: 20px;
}

section#introducao > h1{
    margin-bottom: 15px;
    font-family: var(--font2);
    color: #2a301a;
}

section#introducao > p{
    text-indent: 1em;
    margin-bottom: 1em;
}




section#carroseldeimagens > div.slider{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

section#carroseldeimagens > div.slider > div.slides{
    width: 400%;
    height: 300px;

    display: flex;
}

section#carroseldeimagens > div.slider > div.slides > input{
    display: none;
}

section#carroseldeimagens > div.slider > div.slides > div.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}


section#carroseldeimagens > div.slider > div.slides > div.slide > img{
    width: 300px;
}


section#carroseldeimagens > div.slider > div.manual-navigation{
    position: absolute;
    width: 300px;
    margin-top: -180px;
    display: flex;
    justify-content: center;
}

section#carroseldeimagens > div.slider > div.manual-navigation > label.manual-btn{
    border: 2px solid white;;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

section#carroseldeimagens > div.slider > div.manual-navigation > label.manual-btn:not(:last-child){
    margin-right: 8px;
}

section#carroseldeimagens > div.slider > div.manual-navigation > label.manual-btn:hover{
    background-color: white;
}

section#carroseldeimagens > div.slider > div.slides > input#radio1:checked ~ .first{
    margin-left: 0;
}   

section#carroseldeimagens > div.slider > div.slides > input#radio2:checked ~ .first{
    margin-left: -25%;
}   

section#carroseldeimagens > div.slider > div.slides > input#radio3:checked ~ .first{
    margin-left: -50%;
}   

section#carroseldeimagens > div.slider > div.slides > div.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

section#carroseldeimagens > div.slider > div.slides > div.navigation-auto{
    position: absolute;
    width: 300px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

section#carroseldeimagens > div.slider > div.slides > div.navigation-auto div:not(:last-child){
    margin-right: 8px;
}

section#carroseldeimagens > div.slider > div.slides > input#radio1:checked ~ div.navigation-auto .auto-btn1{
    background-color: white;
}

section#carroseldeimagens > div.slider > div.slides > input#radio2:checked ~ div.navigation-auto .auto-btn2{
    background-color: white;
}

section#carroseldeimagens > div.slider > div.slides > input#radio3:checked ~ div.navigation-auto .auto-btn3{
    background-color: white;
}
