@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

/*Variáveis*/

:root{
    --verde: #5C683A;
    --beige: #E7BD80;
    --azul: #3F88C5;
    --laranja: #E94F37;
    --esmeralda: #59CD90;

    --font1: "Wittgenstein", serif;
    --font2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Fim variáveis*/



/*Configurações de Gerais*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--beige);
}

/*Fim variáveis*/



/*Configurações de título*/

header{
    color: white;
}

section#titulo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 21vh;
    background-color: var(--verde);

    border: 1px solid rgba(0, 0, 0, 0.144);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.322);
}

section#titulo > span{
    margin-top: 10px;
    align-self: flex-end;
    font-size: 1.6em;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.432);
    color: rgb(255, 255, 255);
}

section#titulo > img{
    width: 12vh;
}

section#titulo > h1{
    text-align: center;
    font-size: 1.3em;
    text-wrap: balance;
    font-family: var(--font1);

    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.363);
    margin-bottom: 13px;
}

/*Fim configurações de título*/


main{
    display: flex;
    align-items: center;
    flex-flow: column wrap;

    background-color: white;
    width: 95vw;
    margin: 20px 0px;
    padding: 15px;

    margin: auto;
    margin-top: 20px;
    font-family: var(--font2);
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;

    border-radius:10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.404);
}

section#introducao{
    background-color: var(--esmeralda);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);

    margin-bottom: 20px;
}

section#introducao > h1{
    margin-bottom: 15px;
    font-family: var(--font2);
    color: #2a301a;
}

section#introducao > p{
    text-indent: 1em;
    margin-bottom: 1em;
}




#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #ffffff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }