.start-container, .quiz-container{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 600px;
    max-width: 90%;

}


h1, h2 {
    margin-bottom: 20px;
}

#start-btn, #next-btn {
    background-color: #606C38;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#start-btn:hover, #next-btn:hover {
    background-color: #ff4757;
    transform: scale(1.05);
    
}

.quiz-header {
    margin-bottom: 20px;
}

.question-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.question {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    font-size: 1em;
    background-color: #606C38;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.options button:hover {
    background-color: #283618;
    transform: translateY(-3px);
}

.options button.correct {
    background-color: #229A00;
}

.options button.wrong {
    background-color: #f51605;
}
.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 260px; /* Espaço acima do conteúdo */
  padding-bottom: 260px; /* Espaço abaixo do conteúdo */
} 
.centro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px; /* Espaço acima do conteúdo */
    padding-bottom: 0px; /* Espaço abaixo do conteúdo */
} 