@charset "UTF-8";

.slider {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative; /* Necessário para a legenda ser posicionada dentro */
}

/* Legenda */
.caption {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo com opacidade */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

/* Slider Navigation */
.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Certifique-se de que os botões filhos possam ser clicados */
}

.slider-btn {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    pointer-events: all; /* Garantido */
}

/* Responsiveness */
@media (max-width: 768px) {
    .slider-btn {
        font-size: 16px;
        padding: 8px;
    }
}

/* Título e Descrição */
#tituloEimagem {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1400px;
    margin: 30px auto 40px auto; /* Simplificado */
}
